
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <br>
    <h2>Drinks Menu</h2>

    <ul>
        <% drinks.forEach((drink, index) => { %>
        
            <a href="/drinks/<%= index %>"><li><%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %></li></a>
        <% }) %>

        <br>

        <a href="/foods/">Food Menu</a>

    </ul>



        <style type="text/css">
            body {
                color: blanchedalmond;
                background-color: steelblue;
                display: block;
                margin: auto;
                width: 50%;

    }

    </style>


    
</body>
</html>