
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>At foo bar</h1>

<h2><%= food.name %></h2>

<img src="<%= food.image %>" alt="foods">

<h3>$<%= food.price %>.00</h3>

<a href="/foods">Back to Foods</a>


<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
        display: block;
        margin: auto;
        width: 50%;
}
    img {
        width: 50%;
        height: auto;
    }
</style>
    
</body>
</html>